.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

section {
  margin: 20px;
  box-shadow: 0 0 50px #ccc;
  /* width: 98%; */
  padding: 10px;
  border-radius: 5px;
}

.container {
  display: flex;
  padding: 10px 0;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: none;
}

.people {
  /* width: 98%; */
  /* height: 300px; */
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 50px #ccc;
}
.people:hover {
  border: 1px solid #ccc;
  padding: 4px;
}

.people--photo {
  border-radius: 5px;
  height: 200px;
}

ul li {
  list-style: none;
  text-align: left;
}

.people--sup {
  color: grey;
  font-style: italic;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
  .people {
    max-width: 300px;
    min-width: 200px;
  }
}
.details__list {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details__list > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.details--films {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

